<!DOCTYPE html>
<html lang="en" >
<head>
  <meta charset="UTF-8">
  <title>Login Page in HTML with CSS Code Example</title>
  <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">


<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous"><link rel="stylesheet" href="./style.css">

</head>
<body>
<!-- partial:index.partial.html -->
<div class="box-form">
	<div class="left">
		<div class="overlay">
		<h1>യാത്ര</h1>
		<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.
		Curabitur et est sed felis aliquet sollicitudin</p>
	
		</div>
	</div>
	
	
	<div class="right">
		<h5>BOOKING</h5>
		<p>Find A Bus Route</p>
		<div class="inputs">
			<input list="browsers" name="browser" id="browser" placeholder="From">
  <datalist id="browsers">
					<option value="Perumbavoor">
					<option value="kothamngalam">
					<option value="muvattupuzha">
					<option value="Thodupuzha">
					<option value="nerimnkalam">
					<option value="vannapuram">
					<option value="moolamattem">
					<option value="kattapan">
					<option value="vagmon">
				</datalist>
			<br>
			<input list="toList" placeholder="To">
			<datalist id="toList">
				<option value="cheruthoni">
			</datalist>
			<input type="text" placeholder="No. of Seat">
			<input type="text" placeholder="Mobile Number">
		</div>
			
			<br><br>
			
		<div class="remember-me--forget-password">
				<!-- Angular -->

			<!-- <p>forget password?</p> -->
		</div>
			
			<br>
			<button onclick="search()" class="srch">Availability</button>
	</div>
	
</div>
<!-- partial -->
  <script>
	  function search()
	  {
		  
	  }
  </script>
</body>
</html>
