<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./sow.css">
    <title>Document</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>

</head>
<body>
    <div class="courses-container">
    <template>
            <div class="course">
                <div class="course-preview">
                    <h6>Super Deluxe</h6>
                    <h2>Perumbavoor to cheruthoni</h2>
                    <a href="#">Rs.150 <i class="fas fa-chevron-right"></i></a>
                </div>
                <div class="course-info">
                    <div class="progress-container">
                        <div class="progress"></div>
                        <span class="progress-text">
                            6/40 persons
                        </span>
                    </div>
                    <h6>12:00pm - 3:30pm</h6>
                    <h2>Nerimankalam</h2>
                    <button class="btn">Book</button>
                </div>
            </div>
        </div>
    </template>
    
    
   <script src="./app.js"></script>
</body>
</html>