<!DOCTYPE html>
<html lang="en" >
<head>
  <meta charset="UTF-8">
  <title>Login Page in HTML with CSS Code Example</title>
  <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">


<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous"><link rel="stylesheet" href="./style.css">

</head>
<body>
<!-- partial:index.partial.html -->
<div class="box-form">
	<div class="left">
		<div class="overlay">
		<h1>യാത്ര</h1>
		<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.
		Curabitur et est sed felis aliquet sollicitudin</p>
	
		</div>
	</div>
	
	
		<div class="right sig">
		<h5>Signup</h5>
        <p>Let's get Started </p>
		<div class="inputs">
			<input type="text" placeholder="Full Name ">
            <br>
            <input type="text" placeholder="Username">
			<br>
            <input type="email" placeholder="Email">
			<br>
			<input type="password" placeholder="password">
            <br>
			<input type="password" placeholder="Re-enter Password">
		</div >
		
		<div id="reg">
            <!-- <script src="https://accounts.google.com/gsi/client" async defer></script>
            <div id="g_id_onload"
                data-client_id="YOUR_GOOGLE_CLIENT_ID"
                data-login_uri="https://your.domain/your_login_endpoint"
                data-auto_prompt="false">
             </div>
          <div class="g_id_signin"
                data-type="icon"
                data-size="medium"
                data-theme="outline"
                data-width="200px"
                data-text="sign_in_with"
                data-shape="circle"
                data-logo_alignment="left">
            </div> -->
            <button>Register</button>
        </div>
			
			
	</div>
	
</div>
<!-- partial -->
  
</body>
</html>
